/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.results{
	display:none;
}

.map iframe{
	margin-top:20px;
}

.moreInfo{
	margin-top:20px;
}

.backPage{
	margin-top:20px;
}

.p2{
	display:none;
}










