/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.results{
	display:none;
}

.map iframe{
	margin-top:20px;
}

.moreInfo{
	margin-top:20px;
}

.backPage{
	margin-top:20px;
}

.p2{
	display:none;
}

/* d3 styles for chain/tree chart  */

.node circle {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #337ab7;
  stroke-width: 2px;
}










